@import './styles/reset.css';

:root {
}

#root {
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  /* display: ; */
  /* width: 10px; */
}
::-webkit-scrollbar-track {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  width: 2px;
}